## import data

In [24]:
import pandas as pd 
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import TfidfTransformer

df = pd.read_csv("hasil_textProcessing.csv")
df = df.drop("Unnamed: 0", axis=1)
df.head()

,tanggal,label,judul
0,"- 21/03/2022, 16:34 WIB",Megapolitan,tawur ajar sekolah tangerang orang tewas kena ...
1,"- 21/03/2022, 15:12 WIB",Nasional,menteri panrb cabut atur batas asn pergi negeri
2,"- 21/03/2022, 16:54 WIB",Megapolitan,art aniaya anak balita majikan tetap sangka
3,"- 21/03/2022, 16:50 WIB",Nasional,update maret mati jiwa
4,"- 21/03/2022, 15:07 WIB",Nasional,haris sangka nilai bukti jabat sulit terima kr...

## isi_berita_final to list

In [25]:
list_isi_berita = []
for i in range(len(df.iloc[:, -1])):
    list_isi_berita.append(df.iloc[i, -1])
# print(list_isi_berita)

## tf-idf menggunakan TfidfTransformer

In [26]:
count_vectorizer = CountVectorizer(min_df=1)
count_vectorizer.fit_transform(list_isi_berita)

<60x319 sparse matrix of type '<class 'numpy.int64'>'
	with 482 stored elements in Compressed Sparse Row format>

In [27]:
#get fitur
fitur = count_vectorizer.get_feature_names_out()

## term frequency

In [28]:
# term frequency dengan tfidftransformer
tf = count_vectorizer.fit_transform(list_isi_berita).toarray()
df_tf =pd.DataFrame(data=tf,index=list(range(1, len(tf[:,1])+1, )),columns=[fitur])
df_tf.head(8)

,abai,adam,agenda,ajar,akibat,aksi,aktivis,alami,alas,allah,...,versi,vi,viral,wacana,wagub,wajib,wakil,wali,warga,wasilah
1,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [29]:
df_tf.to_csv('tf.csv')

In [30]:
#tfidf dengan tfidf transformer
tfidf_transform = TfidfTransformer(use_idf=True,norm='l2',smooth_idf=True)
tfidf=tfidf_transform.fit_transform(count_vectorizer.fit_transform(list_isi_berita)).toarray()
df_tfidf =pd.DataFrame(data=tfidf,index=list(range(1, len(tfidf[:,1])+1, )),columns=[fitur])
df_tfidf.head(8)

,abai,adam,agenda,ajar,akibat,aksi,aktivis,alami,alas,allah,...,versi,vi,viral,wacana,wagub,wajib,wakil,wali,warga,wasilah
1,0.0,0.0,0.000000,0.34739,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.000000,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.000000,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.000000,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.000000,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.000000,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,0.0,0.452967,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,0.0,0.0,0.000000,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [31]:
# df_tfidf.to_csv('tf-idf.csv')

In [32]:
df_tfidf =  df_tfidf.reset_index()
df_tfidf.insert(0, 'tanggal', df['tanggal'] )
df_tfidf.insert(1, 'label', df['label'] )
df_tfidf = df_tfidf.drop("index", axis=1)

c:\Users\ASUS\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\generic.py:4150: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  obj = obj._drop_axis(labels, axis, level=level, errors=errors)

In [33]:
df_tfidf.head()

,tanggal,label,abai,adam,agenda,ajar,akibat,aksi,aktivis,alami,...,versi,vi,viral,wacana,wagub,wajib,wakil,wali,warga,wasilah
0,"- 21/03/2022, 16:34 WIB",Megapolitan,0.0,0.0,0.0,0.34739,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,"- 21/03/2022, 15:12 WIB",Nasional,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,"- 21/03/2022, 16:54 WIB",Megapolitan,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,"- 21/03/2022, 16:50 WIB",Nasional,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,"- 21/03/2022, 15:07 WIB",Nasional,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [34]:
# df_tfidf.drop("Unnamed: 0", axis=1)
df_tfidf.to_csv('tf-idf_label.csv')